$background: #201728;
$primary: #352742;
$secondary: #4A2574;
$tertiary: #C9BADA;
$regular: #fff;
$highlight: #FBBC05;

$nunito: 'Nunito','sans-serif';
$carattere: 'Carattere','sans-serif';
$antic: 'Antic Didone','sans-serif';


.buttonTwo {
    background-color: transparent;
    border: 1px solid $regular;
    padding: 15px 30px;
    cursor: pointer;
    color: $regular;
    font-family: $nunito;
}