$background: #201728;
$primary: #352742;
$secondary: #4A2574;
$tertiary: #E3DBEC;
$regular: #fff;
$highlight: #FBBC05;

$nunito: 'Nunito','sans-serif';
$carattere: 'Carattere','sans-serif';
$antic: 'Antic Didone','sans-serif';


.contact-section {
    width: 100%;
    height: auto;
    background-color: $primary;

    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 100px;
}

.contact-left-content {
    min-height: 100dvh;
    padding: 50px;
    width: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.location,
.Operating-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;

    img {
        width: 50px;
    }

    p { 
        text-align: center;
        color: $tertiary;
        font-family: $nunito;
        font-size: 14px;
    }
}