$background: #201728;
$primary: #352742;
$secondary: #4A2574;
$tertiary: #C9BADA;
$regular: #fff;
$highlight: #FBBC05;

$nunito: 'Nunito','sans-serif';
$carattere: 'Carattere','sans-serif';
$antic: 'Antic Didone','sans-serif';

.hero-section {
    width: 100%;
    min-height: 100dvh;
    background-image: url("../../../assets/images/MD-Hero-BG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    padding: 100px 0;

    .hero-container {
        height: fit-content;
        width: 500px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
            color: $regular;
            font-family: $antic;
            font-weight: normal;
            font-size: 4rem;
            text-align: left;

            span {
                color: $highlight;
                font-family: $carattere;
                font-size: 5rem;
            }
        }

        p {
            color: $tertiary;
            font-family: $nunito;
            font-size: 12px;
            text-align: left;
        }

        button {
            width: 200px;
        }
    }
}

@media (max-width: 600px) {
    .hero-section {
        .hero-container {
            width: 100%;
            margin-left: 0px;
            padding: 0 20px;

            h1 {
                font-size: clamp(12px, 3rem, 4rem);

                span {
                    font-size: clamp(12px, 4rem, 5rem);
                }
            }
        }
    }
}