$defaultFontColor: #fff;
$darkHighlightColor: #4A2574;
$darkContainerColor: rgba(36,25,47,0.7);

%fontDefault {
    color: $defaultFontColor;
    font-size: 12px;
    font-family: 'Nunito','sans-serif';
    font-weight: 'normal';
}

.navbar-wrapper {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.navbar-container {
    width: 50%;
    height: fit-content;
    padding: 5px;
    margin-top: 1em;
    min-width: fit-content;
    border-radius: 100px;
    background-color: $darkContainerColor;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 999;
}

.navigation-links,
.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;

    transition: all 0.3s ease;
}
.navigation-links {
    width: 50%;
    gap: 20px;
}
.navbar-links {
    padding-left: 10px;
    gap: 15px;
    
}

.navbar-links button,
.navbar-links a {
    @extend %fontDefault;
    cursor: pointer;
}

.navbar-links a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.underline {
    width: 0%;
    height: 1.5px;
    background-color: $defaultFontColor;
    transition: width 0.3s ease;
}

.navbar-links a:hover .underline {
    width: 100%;
}

.navbar-links img {
    width: 20px;
    transition: all 0.3s ease;
}

.navbar-links button:hover #Arrow {
    transform: rotate(45deg);
}


#navbar-home-btn {
    width: 100px !important;
}

.navbar-dashboard,
#menu-icon {
    display: none;
}

/* SCROLLED NAVBAR */
.navbar-wrapper.scrolled {
    z-index: 9999;
    padding: 0px;
    .navbar-container{
        backdrop-filter: blur(5px);
        border-radius: 0px;
        margin-top: 0;
        width: 100%;
    }
    .navigation-links {
        width: 35%;
    }
}

/* PROFILE MODAL */
.profile-modal-wrapper{
    display: none;

    min-height: 100dvh;
    width: 100%;

    &.opened {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: blur(3px);

        .profile-modal-container {
            background-color: #fff;
            padding: 20px;
        }
    }
}



/* MOBILE */

@media (max-width: 720px) {
    .navbar-container{
        width: 100%;
        margin-top: 0px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .navbar-dashboard {
            display: none;
        }
    }

    .navbar-links {
        button {
            border-radius: 5px;
        }
    }

    #register,
    .navigation-links {
        display: none;
    }

    #menu-icon {
        display: flex;
    }

    .navbar-container.opened {
        height: fit-content;
        padding: 0px;
        gap: 10px;
        .navbar-dashboard {
            display: flex;
            flex-direction: row;
            align-items: center;

            .account-info,
            li,
            ul {
                display: flex;
                flex-direction: column;
                width: 100%;
                list-style: none;

                a {
                    color: $defaultFontColor;
                    font-family: 'Nunito','sans-serif';
                    padding: 20px 0px;
                    padding-left: 20px;
                    text-align: left;
                    width: 100%;
                    transition: all 0.3s ease;

                    &:hover{
                        background-color: rgba(255,255,255,0.5);
                    }
                }
            }
            .account-info {
                padding: 20px;
                img {
                    width: 25px;
                    transition: all 0.3s ease;
                }

                button {
                    color: $defaultFontColor;
                    font-family: 'Nunito','sans-serif';
                    &:hover #Arrow{
                        transform: rotate(45deg);
                    }
                }             
            }
        }
    }
}

@media (max-width: 420px) {
    .navbar-container.opened {
        .navbar-dashboard {
            flex-direction: column-reverse;
        }
    }
}
