$defaultFontColor: #fff;
$defaultButtonColor: #B08CCE;
$darkHighlightColor: #4A2574;
$darkContainerColor: rgba(36,25,47,0.7);
$nunito: 'Nunito','sans-serif';
$pacifico: 'Pacifico','sans-serif';

.onsite-service-wrapper {
    min-height: 100dvh;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.onsite-service-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $defaultFontColor;
    padding: 1.5rem 1rem;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);

    button {
        background-color: transparent;
        border: none;
        padding: 15px 30px;
        border-radius: 10px;
        cursor: pointer;
        font-family: $nunito;
        transition: all 0.3s ease;

        &:hover {
            background-color: $defaultButtonColor;
            color: $defaultFontColor;
        }
    }
}

.profile-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    h1,p {
        font-family: $nunito;
    }

    span {
        font-family: $pacifico;
        border-radius: 100px;
        background-color: #F2E5FF;
        color: $darkHighlightColor !important;
        padding: 5px 20px;
        transition: all 0.3s ease;
        font-size: 12px;
    }
}

.onsite-service-content {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-evenly;

    position: relative;
}

.form-navigation {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    position: sticky;
    top: 0;
    left: 0;
}

.form-container {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
}

.form-receipt {

}