$defaultFontColor: #fff;
$footerContentContainer: #3B2B49;
$footerLicenseContainerColorOne: #9E72C3;
$footerLicenseContainerColorTwo: #4B365D;


%defaultFontStyle {
    color: $defaultFontColor;
    font-family: 'Nunito','sans-serif';
    font-weight: normal;
    font-size: 14px;
}

.footer-container {
    display: flex;
    height: fit-content;
    flex-direction: column;
    width: 100%;
}

.footer-logo {
    width: 250px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    padding: 50px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    gap: 20px;
    background-color: $footerContentContainer;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;
}

.footer-category {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    p {
        @extend %defaultFontStyle;
        color: #9E72C3;
        font-weight: bold;
    }

    a {
        @extend %defaultFontStyle;
    }
}

.footer-license {
    @extend %defaultFontStyle;
    text-align: center;
    width: 100%;
    background: linear-gradient(
        $footerLicenseContainerColorOne,
        $footerLicenseContainerColorTwo
    );
    padding: 15px;
    a {
        @extend %defaultFontStyle;
    }
}

.newsletter,
.newsletter-social {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @extend %defaultFontStyle;
}

.socials,
.newsletter label {
    font-size: 16px;
    p {
        margin-bottom: 20px;
    }
}

.newsletter-form-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;

    input,
    button {
        padding: 15px;
        border-radius: 5px;
        border: none;
        font-weight: 600;
        @extend %defaultFontStyle;
    }

    input {
        color: $footerContentContainer;
    }
}

@media (max-width: 920px) {
    .footer-content {
        flex-direction: column;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        align-items: center;
        gap: 50px;
        padding: 50px 0;
    }
}

@media (max-width: 620px) {
    .footer-nav {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        gap: 50px;
    }
}